.svg-link {
  fill: blue;
  font-size: 20px;
}

.svg-title {
  font-family: "Papyrus";
  font-size: 45px;
}

.svg-subtitle {
  font-weight: bold;
  font-size: 2rem;
  font-family: "Papyrus";
}

.svg-note {
  fill: gray;
  opacity: 0.5;
}